<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Leave List</h4>
					<div class="table-responsive m-t-40">
					  <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
					  	<thead>
						    <tr>
						        <th>Employee Name</th>
						        <th>Start Date</th>
						        <th>End Date</th>
						        <th>Project Name</th>
						        <th >Action</th>
						        
						    </tr>
							</thead>
							<tbody>
								<% leave_lists&.each do |leave_list| %>
									<tr>
						        <td><%= leave_list&.employee&.username %></td>
						        <td><%= leave_list&.start_date %></td>
						        <td><%= leave_list&.end_date %></td>
						        <td><%= leave_list&.project&.project_name %></td>
						        <td><%= link_to leave_list_path(leave_list),remote: true do %> 
					        		<i class="fa fa-eye icon-color-size" data-toggle="tooltip" data-placement="top" title="Show"></i>   
					        	<% end %>
					        	<%= link_to edit_leave_list_path(leave_list) do %> 
					        		<i class="fa fa-edit icon-color-size" data-toggle="tooltip" data-placement="top" title="Edit"></i>   
					        	<% end %>
					        	<%= link_to leave_list_path(leave_list), method: :delete, data: {confirm: 'Are you sure? '} do %> 
					        		<i class="fa fa-trash icon-color-size" data-toggle="tooltip" data-placement="top" title="Delete"></i>
					        	<% end %></td>
						    	</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= will_paginate leave_lists %>

	<div class="modal"></div>
