<div class="row">
  <div class="col-lg-6">
    <div class="card oh">
      <div class="card-body">
        <h5 class="card-title">Top Budget Projects</h5>
        <table id="example23" class="display nowrap table color-table warning-table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Project</th>
              <th>Budget</th>
              <th>Client</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <% top_budget_project&.each do |project| %>
              <tr>
                <td><%= project&.project_name %></td>
                <td><%= project&.price.format %></td>
                <td><%= project&.client&.client_name %></td>
                <td><% project&.technologies.each do |technology| %>
                  <span class="label label-inverse"><%= technology&.name%></span><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Recent Projects</h5>
        <table id="example23" class="display nowrap table color-table warning-table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Project</th>
              <th>PM</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <% project_list&.each do |project| %>
              <tr>
                <td><%= project&.project_name %></td>
                <td><%= find_employee(project) %></td>
                <!-- label label-info -->
                <td><% project&.technologies.each do |technology| %>
                  <span class="label label-inverse"><%= technology&.name%></span><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
