<aside class="left-sidebar">
  <div class="nav-text-box align-items-center d-sm-none">
    <span><img src="http://www.wrappixel.com/demos/admin-templates/elegant-admin/assets/images/logo-icon.png" alt="elegant admin template"></span>
    <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
    <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-close"></i></a>
  </div>
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <%= link_to root_url, class: 'has-arrow waves-effect waves-dark' do %>
            <i class="icon-speedometer"></i>Dashboard 
          <% end %>
        </li>
        <li>
          <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
            <i class="fa fa-user"></i><span class="hide-menu">Employee</span>
          <% end %>
          <ul aria-expanded="false" class="collapse">
            <li>
              <%= link_to employees_path do %>
                <i class="fa fa-users"></i><span class="hide-menu">Employee List</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_employee_path do %>
                <i class="fa fa-user-plus"></i><span class="hide-menu">New Employee</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
            <i class="ti-view-list-alt"></i><span class="hide-menu">Project</span>
          <% end %>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to 'Project List',projects_path %></li>
            <li><%= link_to 'New Project', new_project_path %></li>
            <li><%= link_to 'Assign Employee to Project', new_assignment_path %></li>
            <li><%= link_to 'Project wise Employee List', assignments_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
            <i class="fa fa-user-circle-o"></i><span class="hide-menu">Client</span>
          <% end %>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to 'Client List', clients_path %></li>
            <li><%= link_to 'New Client', new_client_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
            <i class="fa fa-code"></i><span class="hide-menu">Technology </span>
          <% end %>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to 'Technology List', technologies_path %></li>
            <li><%= link_to 'New Technology', new_technology_path %></li>
          </ul>
        </li>

        <li>
          <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
            <i class="fa fa-th-large"></i><span class="hide-menu">Leave</span>
          <% end %>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to 'Leave List', leave_lists_path %></li>
            <li><%= link_to 'New Leave', new_leave_list_path %></li>
          </ul>
        </li>


        <% if employee_signed_in? %>  
          <li>
            <%= link_to '', class: 'has-arrow waves-effect waves-dark' do %>
              <span class="hide-menu">Profile<%#= current_employee&.username[0]&.upcase%></span>
            <% end %>
          </li>
         
          <% end %>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
