<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bacancy Technology, <%= @employee&.username %></h1>
    <p>
      Your account is created by admin<br>
      <b>Your account Details: </b><br>
       Firstname : <%= @employee&.first_name %>.<br>
       Lastname : <%= @employee&.last_name %>.<br>
       Username : <%= @employee&.username %>.<br>
       Password : <%= @employee&.password %>.<br>
       Phoneno : <%= @employee&.email %>.<br>     
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Sign_in', new_employee_session_url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>