<div class="form-group m-t-40 row">
	<%= f.label :first_name, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :first_name, class: "form-control", placeholder: "First Name"%>
	</div>
</div>

<div class="form-group m-t-40 row">
	<%= f.label :last_name, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"%>
	</div>
</div>

<div class="form-group m-t-40 row">
	<%= f.label :username, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :username, class: "form-control", placeholder: "Username"%>
<span id="unique_username" style="display: none;">Username has already been taken.</span></div>
</div>

<div class="form-group m-t-40 row">
	<%= f.label :email, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :email, class: "form-control", placeholder: "Email"%>
<span id="unique_email" style="display: none;">Email has already been taken.</span>
</div>
</div>

<div class="form-group m-t-40 row">
	<%= f.label :primary_technology, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :primary_technology, class: "form-control", placeholder: "Primary Technology"%>
	</div>
</div>

<div class="form-group m-t-40 row">
	<%= f.label :secondary_technology, class: "col-2 col-form-label" %>
	<div class="col-10">
		<%= f.text_field :secondary_technology, class: "form-control", placeholder: "Secondary Technology"%>
	</div>
</div>

