<%= javascript_include_tag "employees"  %>
<%= javascript_include_tag "nested_form" %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Employee</h4>
        <%= nested_form_for @employee do |f| %>
        	<%= render "form", f: f %>
          <%= f.submit "Add Employee", id: "employee_submit", class: "btn btn-success waves-effect waves-light m-r-10" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).on('ready',function(){
		Employees.form.formValidation();
		//ajax call to check unique email validation
		$("#employee_email").on("change", function(){
			$.ajax({
         url: '/unique_username.js',
         method: 'GET',
         data: {
           email: $(this).val(),
           username: $("#employee_username").val()
         }
       });
		});
		//ajax call to check unique username validation
		$("#employee_username").on("change", function(){
			$.ajax({
         url: '/unique_username.js',
         method: 'GET',
         data: {
           username: $(this).val(),
           email: $("#employee_email").val()
         }
       });
		});
	});
</script>
