<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project wise Employee List</h4>
				<div class="table-responsive m-t-40">
				  <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				  	<thead>
					    <tr>
				        <th>Project</th>
				        <th>Employees</th>
				        <th>Client</th>
				        <th>Action</th>
					    </tr>
						</thead>
						<tbody>
							<% assignments&.each do |assignment| %>
								<tr>
					        <td><%= assignment&.project&.project_name %></td>
					        <td><% assignment&.employees.each do |employee| %>
					        	<span class="label bg-orange"><%= employee&.username %></span><br>
					        	<% end %>
					        </td>
					        <td><%= assignment&.project&.client&.client_name %></td>
					        <td>
					        	<%= link_to assignment_path(assignment),remote: true do %> 
					        		<i class="fa fa-eye icon-color-size" data-toggle="tooltip" data-placement="top" title="Show"></i>&nbsp;&nbsp;&nbsp;
					        	<% end %>
					        	<%= link_to edit_assignment_path(assignment) do %> 
					        		<i class="fa fa-edit icon-color-size" data-toggle="tooltip" data-placement="top" title="Edit"></i>&nbsp;&nbsp;&nbsp;
					        	<% end %>
					        	<%= link_to assignment_path(assignment), method: :delete, data: {confirm: 'Are you sure? '} do %> 
					        		<i class="fa fa-trash icon-color-size" data-toggle="tooltip" data-placement="top" title="Delete"></i>
					        	<% end %>
					        </td>
					    	</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%= will_paginate assignments %>

<div class="modal" style="display:none;">
</div>