<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Project-Employee Detail</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

      <div class="card oh">
        <div class="card-body">
          <h5 class="card-title"><%= assignment&.project&.project_name %> Project</h5>
          <table id="example23" class="display nowrap table color-table inverse-table" cellspacing="0" width="100%">
            <tr>
              <td>Start Date</td>
              <td><%= assignment&.start_date%></td>
            </tr>
            <tr>
              <td>End Date</td>
              <td><%= assignment&.end_date%></td>
            </tr>
            <tr>
              <td>Employees</td>
              <td><% assignment&.employees.each do |employee| %>
                    <span class="label bg-orange"><%= employee&.username %></span><br>
                  <% end %>
              </td>
            </tr>
            <tr>
              <td>Technologies</td>
              <td><% assignment&.project.technologies.each do |technology| %>
                <span class="label label-inverse"><%= technology&.name %></span><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Client</td>
              <td><%= assignment&.project&.client&.client_name %></td>
            </tr>
          </table>
        </div>
      </div>

     
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".close").click(function(){
    $(".modal").hide();
  });
</script>

