<section id="wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal form-material", id: "loginform") do |f| %>
          <h3 class="box-title m-b-20">Sign In</h3>
          <div class="form-group ">
            <div class="col-xs-12">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Username" %>
            </div>
          </div>

          <div class="form-group ">
            <div class="col-xs-12">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember me</label> -->
                  <%= f.check_box :remember_me, class: "custom-control-input", id:"customCheck1" %>
                  <%= f.label :remember_me, class: "custom-control-label" %>
                  <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                </div>
              </div>
            </div>
          <% end -%>

          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-block btn-lg btn-info btn-rounded" %>
              </div>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class= "col-sm-12 text-center">
              New User? Create your account here <%= link_to 'Sign Up', new_employee_registration_path %> 
            </div>
          </div>
        <% end %>
        

      </div>
    </div>
  </div>
</section>

<%#= render "employees/shared/links" %>
