<!DOCTYPE html>
<html>
  <head>
    <title>BacancyProjectManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

  </head>

  <body class="horizontal-nav skin-megna-dark fixed-layout">
    <div id="main-wrapper">
      <%= render partial: '/static_page/header' %>
      <% if employee_signed_in? %>
        <%= render partial: '/static_page/left_sidebar'%>
      <% end %>
      <!-- Page wrapper  -->
      <div class="page-wrapper">
        <!-- Container fluid  -->
        <div class="container-fluid">
          <!-- Bread crumb and right sidebar toggle -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard 1</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard 1</li>
                </ol>
                <button type="button" class="btn btn-success d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
              </div>
            </div>
          </div>
          <%= yield %>
        </div>

      </div>
  </body>
</html>
